<head>
    <style>
        h2{
            text-align: center;
            color: rgb(149, 248, 243);
            font-weight: bold;
        }
        th{
            text-align: center;
            color: rgb(149, 248, 243);
            font-weight: bold;

        }
         td{
            text-align: center;
            color: rgb(153, 206, 9);
            font-size: larger;
            

        }
    </style>
</head>


<h5>Dashboard</h5>
<h2>Welcome {{name}}</h1>
<!-- Loop through tasks and output them in a table -->
{{#if tasks}}
    <p><h5>Here are your main tasks:</h5></p>
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each tasks}}
                <tr>
                    <td><a href="/tasks/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td>
                        <a href="/tasks/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/tasks/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any tasks</p>
{{/if}}